extends index
block head
    title= '项目采购信息'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备信息详情
block content
    hr
    table.table
        thead
            tr
                th
                    | 存放地点
                th
                    | 库存量
                th
                    | 资产号
                th
                    | 全网资产号
                th
                    | 设备类型
                th
                    | 详情
        tbody
        script(type='text/javascript').
            $('.z2').click(function () {
                window.location.href='equip-detail'
            })