extends index
block head
    title= '项目采购信息'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备信息详情
block content
    hr
    table.table
        thead
            tr
                th
                    | 存放地点
                th
                    | 设备类型
                th
                    | 资产号
                th
                    | 数量
                th
                    | 设备名称
                th
                    | 备注
        tbody
                tr
                    td
                        | 办公室
                    td
                        | U盘
                    td
                        | 1231241
                    td
                        | 20
                    td
                        | a
                    td
                        button.btn.btn-sm(style='background:#576f95;color:#ffffff')
                            | 备注
                tr
                    td
                        | 机房
                    td
                        | 耗材
                    td
                        | 1231241
                    td
                        | 200
                    td
                        | b
                    td
                        button.btn.btn-sm(style='background:#576f95;color:#ffffff')
                            | 备注
                tr
                    td
                        | 办公室
                    td
                        | 硬件
                    td
                        | 1231241
                    td
                        | 87
                    td
                        | c
                    td
                        button.btn.btn-sm(style='background:#576f95;color:#ffffff')
                            | 备注
        script(type='text/javascript').
            $('.z2').click(function () {
                window.location.href='equip-detail'
            })