extends index
block head
    title= '项目采购信息'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备信息详情
block content
    hr
    table.table
        thead
            tr
                th
                    | 存放地点
                th
                    | 库存量
                th
                    | 资产号
                th
                    | 全网资产号
                th
                    .dropdown
                        button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                            | 设备类型
                            span.caret
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                            li(role='presentation')
                                a(role='menuitem', tabindex='-1', href='#') 硬盘
                            li(role='presentation')
                                a(role='menuitem', tabindex='-1', href='#') U盘
                            li(role='presentation')
                                a(role='menuitem', tabindex='-1', href='#') 服务器
                            li(role='presentation')
                                a(role='menuitem', tabindex='-1', href='#') 耗材

                th
                    | 详情
        tbody
            tr
                td
                    | a
                td
                    | b
                td
                    | c
                td
                    | d
                td
                    | e
                td
                    button.btn.btn-sm.z2(style='background:#576f95;color:#ffffff')
                        | 详情
            tr
                td
                    | a
                td
                    | b
                td
                    | c
                td
                    | d
                td
                    | e
                td
                    button.btn.btn-sm.z2(style='background:#576f95;color:#ffffff')
                        | 详情
            tr
                td
                    | a
                td
                    | b
                td
                    | c
                td
                    | d
                td
                    | e
                td
                    button.btn.btn-sm.z2(style='background:#576f95;color:#ffffff')
                        | 详情
            tr
                td
                    | a
                td
                    | b
                td
                    | c
                td
                    | d
                td
                    | e
                td
                    button.btn.btn-sm.z2(style='background:#576f95;color:#ffffff')
                        | 详情
            tr
                td
                    | a
                td
                    | b
                td
                    | c
                td
                    | d
                td
                    | e
                td
                    button.btn.btn-sm(style='background:#576f95;color:#ffffff')
                        | 详情
        script(type='text/javascript').
            $('.z2').click(function () {
                window.location.href='equip-detail'
            })