extends index
block head
    title= '采购信息-合同'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备采购信息导入
block content
    h3(align='center')
        | 步骤5-导入合同
    .col-md-6.col-md-offset-3(style='width:60%')
        .progress.progress-striped.active(style='color:#576f95')
            .progress-bar(role='progressbar',  aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
    br
    hr
    form.form-horizontal
        .form-group(align='center')
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 标段：
            .col-sm-6
                select.form-control.i51
                    each project in projects
                        option(value = '#{project.bid}')
                            | #{project.bname}
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 合同编号：
            .col-sm-6
                input.form-control.i52(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 合同名称：
            .col-sm-6
                input.form-control.i53(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 合同金额：
            .col-sm-6
                input.form-control.i54(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 厂家：
            .col-sm-6
                input.form-control.i55(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 部门：
            .col-sm-6
                input.form-control.i56(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 乙方联系人姓名：
            .col-sm-6
                input.form-control.i57(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 乙方联系方式：
            .col-sm-6
                input.form-control.i58(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 甲方合同签订人：
            .col-sm-6
                input.form-control.i59(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 签订日期：
            .col-sm-6
                input.form-control.input-datetime.i510(type='text' placeholder='点击以选择日期')
        .f(align='center')
            button.btn.btn-block.post1(style='width:30%;background:#576f95;color:#ffffff')
                | 提交信息
            h4(align='center')
                | 添加付款方式
            table.table(style='width:60%')
                thead
                    tr
                        th
                            | 阶段
                        th
                            | 百分比
                        th
                            | 待付款时间
                        th
                            | 单次付款金额
                tbody
                    tr
                        td
                            select.form-control.i511
                                option
                                    | 第一阶段
                                option
                                    | 第二阶段
                                option
                                    | 第三阶段
                                option
                                    | 第四阶段
                        td
                            select.form-control.i512
                                option
                                    | 10%
                                option
                                    | 20%
                                option
                                    | 30%
                                option
                                    | 40%
                                option
                                    | 50%
                                option
                                    | 60%
                                option
                                    | 70%
                                option
                                    | 80%
                                option
                                    | 90%
                        td
                            input.form-control.b3.input-datetime.i513(placeholder='点击以选择')
                        td
                            input.form-control.i514
            .form-group(align='center')
                button.btn#post2(style='width:31%;background:#576f95;color:#ffffff')
                    | 添加
        h4(align='center')
            | 已添加的付款方式
        .form-group(align='center')
            table.table(style='width:60%' align='center')
                thead
                    tr
                        th
                            | 阶段
                        th
                            | 百分比
                        th
                            | 付款时间
                        th
                            | 单次付款金额
                tbody

            hr
        .form-group(align='center')
            button.btn.btn-block(style='width:30%;background:#576f95;color:#ffffff')
                | 上传合同
    .form-group(align='center')
        button.btn.btn-block#b1(style='width:31%;background:#576f95;color:#ffffff' type='submit')
            | 下一步
    script(type='text/javascript').
        $(document).ready(function () {
            $('#b1').click(function () {
                window.location.href = "input5_1";
            })
            $('.post1').click(function () {
                if($('.i52').val() == '' || $('.i52').val() == '' || $('.i53').val() == '' ||
                $('.i54').val() == '' ||$('.i55').val() == '' || $('.i56').val() == '' ||
                $('.i57').val() == '' ||$('.i58').val() == '' || $('.i59').val() == '' || $('.i510').val() == '')
                {alert('请输入完整的信息！')}
                else {
                    if(confirm('确认提交信息？')){
                        $.ajax({
                            url: '/input5/input5post1',
                            data: {
                                bid: $('.i51').val(),
                                hser: $('.i52').val(),
                                hname: $('.i53').val(),
                                hmoney: $('.i54').val(),
                                changjia: $('.i55').val(),
                                dept: $('.i56').val(),
                                yperson: $('.i57').val(),
                                yphone: $('.i58').val(),
                                jperson: $('.i59').val(),
                                ht_date: $('.i510').val()
                            },
                            type: 'POST',
                            timeout: 36000,
                            dataType: 'text',
                            success: function (data, textStatus) {
                                var dataJson = eval("(" + data + ")");
                                console.log(dataJson);
                                if (dataJson.code == 200) {
                                    alert('数据已成功写入到数据库!')
                                }
                                else {
                                    alert('数据写入失败，请重新填写信息！')
                                }
                            }
                        })
                    }
                }
            });

        })