extends index
block head
    title= '采购信息-管委会纪要2'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备采购信息导入
block content
    h3(align='center')
        | 步骤4-导入管委会纪要2
    .col-md-6.col-md-offset-3(style='width:60%')
        .progress.progress-striped.active(style='color:#576f95')
            .progress-bar(role='progressbar',  aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
    br
    hr
    form.form-horizontal(role='form')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 项目名称：
            .col-sm-6
                input.form-control(type='text')
        .form-group(align='center')
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 标段：
            .col-sm-6
                select.form-control
                    option
                        | 标段1
                    option
                        | 标段2
                    option
                        | 标段3
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 会议编号：
            .col-sm-6
                input.form-control(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 中标单位：
            .col-sm-6
                input.form-control(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 中标日期：
            .col-sm-6
                input.form-control(type='text')
        hr
        .form-group(align='center')
            button.btn.btn-block(style='width:30%;background:#576f95;color:#ffffff')
                | 上传文件
    .form-group(align='center')
        button.btn.btn-block#b1(style='width:31%;background:#576f95;color:#ffffff' type='submit')
            | 保存并进入下一步
        script(type='text/javascript').
            $('#b1').click(function () {
                window.location.href = "input5";
            })