h3(align='center' style='color:#576f95')
    | 设备采购信息管理系统
hr
h3(align='center' style='color:#576f95')
    | 设备管理系统
button.btn.btn-default.btn-block(data-toggle='modal' data-target='#modal2' style='background:#576f95;color:#ffffff')
    | 新增设备信息
button.btn.btn-default.btn-block#a3(style='background:#576f95;color:#ffffff')
    | 查询设备信息
hr
button.btn.btn-danger.btn-block#a5
    | 退出系统
script(type='text/javascript').

    $('#a3').click(function () {
        window.location.href = 'equip'
    });