h3(align='center' style='color:#576f95')
    | 设备采购信息管理系统
hr
button.btn.btn-default.btn-block#a1(style='background:#576f95;color:#ffffff')
    | 新建项目采购信息
button.btn.btn-default.btn-block#a2(style='background:#576f95;color:#ffffff')
    | 管理项目采购信息
hr
button.btn.btn-danger.btn-block#a5
    | 退出系统
script(type='text/javascript').
    $('#a1').click(function () {
        window.location.href = 'input1'
    });
    $('#a2').click(function () {
        window.location.href='detail'
    });
